html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(29, 28, 28);
  color: white;
}

#navBar {
  background-color: rgb(62, 68, 68);
  color: white;
}

#avatar {
  max-width: 90%;
}

#output {
  display: none;
}